<!doctype html>
<script src="{{ url_for('static', filename='jinja.js/lib/jinja.min.js') }}"></script>
<script src="{{ url_for('static', filename='js_lib.js') }}"></script>
<head>
  <title>K2BSA Propagation</title>
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><a href="/">K2BSA Propagation Prediction</a></h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
